DATABASE_TYPE=
DATABASE_CONNECTIONSTRING=postgres://admin:admin@postgres:5432/governance?sslmode=disable
PNH_RPC_URL=
PNH_HEADER_PROOF_EXPIRATION_PERIOD=
PNH_PRIVATE_KEY=
PNH_CHAIN_ID=
PNH_RAYLS_VIEW_SECRET_KEY=
PNH_RAYLS_VIEW_PUBLIC_KEY=
PNH_STARTING_BLOCK=
PNH_OPERATOR_CHAIN_ID=
PNH_BATCH_SIZE=
PNH_DEPLOYMENT_PROXY_REGISTRY=
TRANSACTIONPROCESSOR_BATCHSIZE=
TRANSACTIONPROCESSOR_CHECKINTERVAL=
LOGGING=development
CORSURLS=http://localhost:3000;http://governance-api
NATS_URL=
NATS_TLS_CA_FILE=/app/certs/ca.crt
NATS_TLS_CERT_FILE=/app/certs/governance.crt
NATS_TLS_KEY_FILE=/app/certs/governance.key
